@import "tailwindcss";
@import "@nuxt/ui";


@theme {
  --container-8xl: 90rem;
}

:root {
  --ui-container: var(--container-8xl);

::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

.dark {
  ::selection {
    color: #ffffff;
    background-color: #c8c8c8;
  }
}

@layer base {
  :root {
    --font-sans: 'Roboto',  sans-serif;
    --font-serif: 'Roboto Slab',  serif;
    --font-menu: 'Montserrat', sans-serif;
  }

  body {
    font-family: var(--font-sans);
    color: #111;
    
  }

  html {
  scroll-behavior: smooth;
}


  h1, h2, h3, h4, h5 {
    font-family: var(--font-sans);
  }

  nav, header, .menu, .navbar {
    font-family: var(--font-menu);
  }
}